/* códigos comunes */
html,body{
  height: 100%;
  width: 100%;
}
body{
  color: gray;
}
img{
  max-width: 100%;
  vertical-align: top;
}
a{
  text-decoration: none;
  color: gray;
}
h1,h1,h3{
  color: #000;
}
.section{
  margin-top: 50px;
}
/*    HEADER   */
.logo{
  width: 100px;
  height: 100px;
}
.header-menu{
  background: #FFF;
}

.section #header{
  margin-top: 0;
}
.logo{
  display: inline-block;
}
.main-menu li{
  display: inline-block;
  border-right: 2px solid darkgray;
}
.main-menu li>a{
  padding: 0 20px;
.main-menu li:last-child{
  border-right: none;
}
.header-content{
  margin-top: 30px;
  background: #E0E0E0;
}
.portada{
  background: url(../img/semilla.jpg);
}


/*   Nosotros  */
.mi-vision .col-sm-6{
  padding: 0 50px;
}
.mi-vision{
  margin-top: 15px;
}
.metodo .col-sm-6{
  padding-left: 0;
  padding-right: 0;
}
.metodo .col-sm-6:last-child{
  background: #495F41;
  padding: 50px;
  padding-right: 15px;
}

/*   Servicios  */
